<div class="col-10 border border-dark p-4">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Csoport neve</th>
                        <th>Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each array}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td class="text-center">
                            <button class="btn btn-outline-dark" data-toggle="modal" data-target="#modal{{this.id}}">Szerkesztés</button>
                            <button class="btn btn-danger" onclick="deleting({{this.id}})">Törlés</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class=" d-flex align-items-end flex-column" style="height: 150px;">
                <div class="mt-auto"><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Új kategória</button></div>
            </div>
        </div>
{{> newCat}}

<script>

    function deleting(id){
        console.log(id)
       fetch('/categories', {
           headers: {
                    'Content-Type': 'application/json'
                    },
            method: 'DELETE',
            body: JSON.stringify({id: id})
        })
        .then(res =>{
            if(res.status == 200){
                window.location.reload()
            }
        })
    }

</script>
       

{{#each array}}
 
<div class="modal fade" id="modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.name}} csoport adatainak módosítása</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='/categories/{{this.id}}' method="POST">
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Megnevezés:</label>
                        <input type="text" class="form-control" name="name" value='{{this.name}}' id="product-name">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                        <button type="submit" class="btn btn-primary">Módosít</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
