<div class="col-10 border border-dark p-4">
    <div class="container">
        <div class="row justify-content-end">
            <form action="/products" method="GET" class="col-9">
                <label for="list col-2 mr-5">Termékcsoport: </label>
                <select id="categories_list" name="categories_list_id" class="col-6 align-self-end ml-4 mr-4">
                    <option value="">Összes csoport</option>
                    {{#each ./cat}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <button type="submit" class="col-2">Listázás</button>
            </form>
        </div>
    </div>

    <table id="productTable" class="table table-bordered table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th>{{#if orderBooleans.id.un}} <a href="http://localhost:3000/products?orderby=id&order=ASC">id</a>
                    <img src="sort-up-and-down-arrows-couple.png"> {{/if}} {{#if orderBooleans.id.asc}} <a
                        href="http://localhost:3000/products?orderby=id&order=DESC">id</a> <img src="sort-up.png">
                    {{/if}} {{#if orderBooleans.id.desc}} <a
                        href="http://localhost:3000/products?orderby=id&order=ASC">id</a> <img src="sort-down.png">
                    {{/if}}</th>
                <th>{{#if orderBooleans.name.un}} <a
                        href="http://localhost:3000/products?orderby=name&order=ASC">Megnevezés</a> <img
                        src="sort-up-and-down-arrows-couple.png"> {{/if}} {{#if orderBooleans.name.asc}} <a
                        href="http://localhost:3000/products?orderby=name&order=DESC">Megnevezés</a> <img
                        src="sort-up.png"> {{/if}} {{#if orderBooleans.name.desc}} <a
                        href="http://localhost:3000/products?orderby=name&order=ASC">Megnevezés</a> <img
                        src="sort-down.png"> {{/if}}</th>
                <th>{{#if orderBooleans.cat.un}} <a
                        href="http://localhost:3000/products?orderby=category&order=ASC">Csoport</a> <img
                        src="sort-up-and-down-arrows-couple.png"> {{/if}} {{#if orderBooleans.cat.asc}} <a
                        href="http://localhost:3000/products?orderby=category&order=DESC">Csoport</a> <img
                        src="sort-up.png"> {{/if}} {{#if orderBooleans.cat.desc}} <a
                        href="http://localhost:3000/products?orderby=category&order=ASC">Csoport</a> <img
                        src="sort-down.png"> {{/if}}</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {{#each array}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td class="text-center">
                    <button class="btn btn-outline-dark" data-toggle="modal"
                        data-target="#modal{{this.id}}">Szerkesztés</button>
                    <button class="btn btn-danger" data-toggle="modal"
                        data-target="#delModal{{this.id}}">Törlés</button>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="4" class="container">
                        <div class="d-flex justify-content-end">
                            <div><a href="">előző</a> <a href="">következő</a></div>
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class=" d-flex align-items-end flex-column" style="height: 150px;">
        <div class="mt-auto"><button type="button" data-toggle="modal" data-target="#exampleModal"
                class="btn btn-primary">Új termék</button></div>
    </div>
</div>

{{> newProduct}}

<script>

    function deleting(id) {
        console.log(id)
        fetch('/products', {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'DELETE',
            body: JSON.stringify({ id: id })
        })
            .then(res => {
                if (res.status == 200) {
                    window.location.reload()
                }
            })
    }

</script>


{{#each array}}
<div class="modal fade" id="modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.name}} Adatainak módosítása</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='/products/{{this.id}}' method="POST">
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Megnevezés:</label>
                        <input type="text" class="form-control" name="name" value='{{this.name}}' id="product-name">
                    </div>
                    <div class="form-group row">
                        <label for="list" class="col-3">Csoport</label>
                        <select id="list" name="catlist" class="dropdown col-8" multiple>
                            <option value="none">Válassz egyet</option>
                            {{#each ../cat}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="desc" class="col-3 mt-4">Leírás</label>
                        <textarea name="description" id="desc" class=" col-8 mt-4" cols="20"
                            rows="5">{{this.desc}}</textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                        <button type="submit" class="btn btn-primary">Módosít</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{> deleteConfirm}}