<div class="col-10 border border-dark p-4">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Megnevezés</th>
                        <th>Mennyiség</th>
                        <th>Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each array}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.quantity}}</td>
                        <td class="text-center">
                            <button class="btn btn-outline-dark" data-toggle="modal" data-target="#modal{{this.id}}">Szerkesztés</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

{{#each array}}
<div class="modal fade" id="modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" ria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action='/stocks/{{this.id}}' method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mennyiség megadása:</label>
                        <input type="number" class="form-control" value='{{this.quantity}}' name="quantity" id="recipient-name">
                    </div>
                
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
                        <button type="submit" class="btn btn-primary">Új mennyiség</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}